<a href="https://colab.research.google.com/github/MiguelJ125/AnalisisExploratorioDatos/blob/main/AED_Grupo_D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AED - Para esto se trabajará con el archivo sube2020.csv en el cual están registradas todas las
transacciones realizadas durante el año 2020.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

sube = pd.read_csv('/content/sube2020.csv')
sube

       DIA_TRANSPORTE  ... DATO_PRELIMINAR
0          2020-01-01  ...              NO
1          2020-01-01  ...              NO
2          2020-01-01  ...              NO
3          2020-01-01  ...              NO
4          2020-01-01  ...              NO
...               ...  ...             ...
356623     2020-12-31  ...              NO
356624     2020-12-31  ...              NO
356625     2020-12-31  ...              NO
356626     2020-12-31  ...              NO
356627     2020-12-31  ...              NO

[356628 rows x 10 columns]

In [4]:
sube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356628 entries, 0 to 356627
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   DIA_TRANSPORTE   356628 non-null  object
 1   NOMBRE_EMPRESA   356628 non-null  object
 2   LINEA            356628 non-null  object
 3   AMBA             356628 non-null  object
 4   TIPO_TRANSPORTE  356628 non-null  object
 5   JURISDICCION     354067 non-null  object
 6   PROVINCIA        354067 non-null  object
 7   MUNICIPIO        354067 non-null  object
 8   CANTIDAD         356628 non-null  int64
 9   DATO_PRELIMINAR  356628 non-null  object
dtypes: int64(1), object(9)
memory usage: 27.2+ MB